<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="./IMAGENES/restoradar.png" type="image/x-icon">
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <script src="https://kit.fontawesome.com/6410e86f64.js" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">

    <title>Buscar</title>
    <link rel="stylesheet" href="../CSS/buscar.css" />

</head>

<body>
    <header id="myHeader"></header>
    <main>
        <h1>Que tipo de comida te gustaria ?</h1>
        <div id="app">
            <div class="container">
                <div>
                    <input type="radio" id="parrilla" value="Parrilla" v-model="cocina">
                    <label for="parrilla">Parrilla</label>
                    <input type="radio" id="italiana" value="Italiana" v-model="cocina">
                    <label for="italiana">Italiana</label>
                    <input type="radio" id="pizzeria" value="Pizzeria" v-model="cocina">
                    <label for="pizzeria">Pizza</label>
                    <input type="radio" id="oriental" value="Oriental" v-model="cocina">
                    <label for="oriental">Oriental</label>
                    <input type="radio" id="vegetariana" value="Vegetariano" v-model="cocina">
                    <label for="vegetariana">Vegetariana</label>
                </div>
                <button class="btn btn-primary" v-on:click="filtro()">Buscar</button>
                <br>
            </div>
            
            <a href="../PAGES/reserva1.html">
                <div id="restaurantes" class="contenedor">
                    <div v-for="(dato, index) in datosFiltrados" :key="index" class="tarjeta">
                        <h3>{{dato.name}}</h3>
                        <p><img :src="dato.foto" alt="Foto del restaurante"></p>
                        <p><strong>Direccion: </strong> {{dato.direccion}}</p>
                        <p><strong>Barrio: </strong> {{dato.barrio}}</p>
                        <p><strong>Cocina: </strong>
                            <span v-for="(cocina, index) in dato.cocina" :key="index">
                                {{ cocina }}<span v-if="index !== dato.cocina.length - 1">, </span>
                            </span>
                        </p>
                        <p><strong>Horario: </strong> {{dato.horario}}</p>
                        <p><strong>Precio: </strong> {{dato.precio}}</p>
                    </div>
                </div>
            </a>
        </div>

    </main>

    <footer>
    </footer>
    </div>

    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="../JS/buscar.js"></script>


</body>

</html>
