<!doctype html>
<html lang="en">
<head>
    <title>Restaurantes</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <link
    href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
    rel="stylesheet" />

  <script src="https://kit.fontawesome.com/6410e86f64.js" crossorigin="anonymous"></script>

  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css" />
    <link rel="stylesheet" href="../CSS/restaurantes.css">
</head>

<body>
    <header id="myHeader">
        <!-- place navbar here -->
    </header>
    <main>
        <div id="app" class="container">
            <h1>RESTAURANTES</h1>
            <br>
            <a class="btn btn-primary" href="restaurant_nuevo.html">Agregar Nuevo</a>
            <br><br>
            <div v-if="error">
                <p>Lo sentimos, ........</p>
            </div>
            <div v-else>
                <section v-if="cargando">
                    <div class="spinner-border"></div>
                    <p>Cargando .....</p>
                </section>
                <section v-else>
                    <div class="row">
                        <div class="col-md-3 mb-4" v-for="restaurant in restaurantes">
                            <div class="card card-custom h-100 shadow-lg">
                                <img :src="restaurant.foto" class="card-img-top card-img-fixed" :alt="restaurant.name">
                                <div class="card-body">
                                    <h4 class="card-title">{{ restaurant.name }}</h4>
                                    <p class="card-text">
                                        <strong>Dirección:</strong> {{ restaurant.direccion }}<br>
                                        <strong>Barrio:</strong> {{ restaurant.barrio }}<br>
                                        <strong class="cocinas-label">Cocinas:</strong>
                                        <ul class="cocinas-list">
                                            <li v-for="tipoCocina in restaurant.cocina" :key="tipoCocina">{{ tipoCocina }}</li>
                                        </ul>
                                        <strong>Horarios:</strong> {{ restaurant.horario }}<br>
                                        <strong>Rango de Precios:</strong> {{ restaurant.precio }}<br>
                                        <strong>Latitud:</strong> {{ restaurant.latitud }}<br>
                                        <strong>Longitud:</strong> {{ restaurant.longitud }}<br>
                                        <strong>Cantidad de Mesas:</strong> {{ restaurant.capacidad }}
                                    </p>
                                </div>
                                <div class="card-footer d-flex justify-content-between">
                                    <a class="btn btn-custom-success" :href="'restaurant_update.html?id='+restaurant.id">Modificar</a>
                                    <button type="button" class="btn btn-custom-danger" v-on:click="eliminar(restaurant.id)">Eliminar</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </main>
    <footer>
        <!-- place footer here -->
    </footer>
    <!--Link de Bootstrap-->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.min.js" integrity="sha384-7VPbUDkoPSGFnVtYi0QogXtr74QeVeeIs99Qfg5YCF+TidwNdjvaKZX19NZ/e6oz" crossorigin="anonymous"></script>
    <script src="../JS/main.js"></script>
    <script src="../JS/restaurant.js"></script>
</body>
</html>